<h1>ジャンル検索</h1>

<div class="panel">
	<div class ="col-xs-12 ">
		<% @genres.each do |genre| %>
		    <div class ="col-xs-4 panel panel-warning">
		    	<div class="panel-heading panel-warning">
		        	<h3 class ="text-center" ><%= link_to genre.genre_name, events_path(id: genre.id) %></h3>
		        </div>
		        <div class="panel-body text-center ">
	            	<%= attachment_image_tag genre, :genre_image, :fill, 300, 200, fallback: "no_image.jpg", :class => "resize" %>
	            </div>
			</div>
		<% end %>
	</div>
</div>