<h1 class="event-text__detail">〜イベント作成ページ〜</h1>
<div class="actions">
    <%= link_to '戻る', events_main_path,class:"btn btn-primary pull-right btn-lg" %>
</div>
<%= render 'form', event: @event %>



