<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text" style="font-size: 800%;">
      shummit
    </p>
    <p class="main-visual-name" style="font-size: 250%;margin-top:100px;margin-left:75px;text-align: left;">
      新しい趣味に
    </p>
    <p class="main-visual-name" style="font-size: 250%;margin-top: 20px;margin-left:55px;">
      新しい自分を見つける
    </p>
  </div>
</div>

<section class="hero-wrap hero-wrap-2">
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-2 bread" style="font-size: 500%;">Shummit使い方</h1>
      </div>
    </div>
  </div>
</section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
        <div class="row no-gutters">
    			<div class="col-lg-6 py-4 py-md-5">
            <div class="d-flex services ftco-animate text-lg-right py-4 px-lg-4">
              <div class="icon order-md-last d-flex align-items-center justify-content-center"><span class="flaticon-rings"></span></div>
              <div class="media-body pr-lg-4">
                <h3 class="heading mb-3">新規登録</h3>
                <p>利用するためにはまず新規登録を行ってください。</p>
              </div>
            </div>
    				<div class="d-flex services ftco-animate text-lg-right py-4 px-lg-4">
	            <div class="icon order-md-last d-flex align-items-center justify-content-center"><span class="flaticon-praying"></span></div>
	            <div class="media-body pr-lg-4">
	              <h3 class="heading mb-3">趣味を見つける</h3>
	              <p>他の人が投稿するイベントを見て、新しい趣味と出会う。</p>
	            </div>
	          </div>
	          <div class="d-flex services active ftco-animate text-lg-right py-4 px-4">
	            <div class="icon order-md-last d-flex align-items-center justify-content-center"><span class="flaticon-church"></span></div>
	            <div class="media-body pr-lg-4">
	              <h3 class="heading mb-3">イベントに参加する</h3>
	              <p>イベントに参加して、実際に体験する。</p>
	            </div>
	          </div>
	          <div class="d-flex services ftco-animate text-lg-right py-4 px-lg-4">
	            <div class="icon order-md-last d-flex align-items-center justify-content-center"><span class="flaticon-bible"></span></div>
	            <div class="media-body pr-lg-4">
	              <h3 class="heading mb-3">掲示板で仲間と話す</h3>
	              <p>同じイベントに参加している人同士で情報交換をする</p>
	            </div>
	          </div>

	          <div class="d-flex services ftco-animate text-lg-right py-4 px-lg-4">
	            <div class="icon order-md-last d-flex align-items-center justify-content-center"><span class="flaticon-social-care"></span></div>
	            <div class="media-body pr-lg-4">
	              <h3 class="heading mb-3">自分でイベントを立ち上げる</h3>
	              <p>自分でイベントを立ち上げ、同じ趣味の仲間を見つける。</p>
	            </div>
	          </div>
          </div>

          <div><a><%= image_tag 'rogo.jpg', size: '430x430' ,border: 'double'%></a></div>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-2" style="font-size: 300%;padding-left: 70px;">機能一覧</h2>
          </div>
        </div>
        <div class="row justify-content-center ftco-animate">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel ftco-owl" style="padding-top: 30px;">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4" style="font-size: 200%;">開催地自動マッピング機能</p>
                    <p class="name">開催地の住所を指定すると自動的にマップを表示させます。</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4" style="font-size: 200%;">グループ機能</p>
                    <p class="name">イベント参加者でグループを作り、掲示板にて情報交換が可能です</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4"style="font-size: 200%;">ジャンル検索機能</p>
                    <p class="name">イベントをジャンルで検索可能することが可能です</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>